<div class="number">

  <h1>Slack SMS</h1>

  <h2>Add your phone number below to start sending messages:</h2>

  <%= form_for @user do |f| %>
    <%= f.telephone_field :phone_number, placeholder: '+44', class: 'input' %>
    <%= f.submit 'Send confirm code', class: 'button' %>
  <% end %>

</div>
