<div class="authorise">

  <h1><a href="http://slack.com">Slack</a></h1>

  <h2>Authorize Slack SMS to access your Slack account</h2>

  <a href="/authorise-slacksms" class="button">Authorize</a>

  <a href="/" class="button  cancel">cancel</a>

</div>

