<div class="index">

  <h1><a href="http://slack.com">Slack SMS</a></h1>

  <h2>Interact with your team on Slack using SMS</h2>

  <%= link_to 'Sign in with Slack', auth_path('slack'), class: 'button' %>

</div>
