<div class="thanks">

  <h1>Slack SMS</h1>

  <h2>You're ready to go!</h2>

  <p>Your message is being set to <span class="phone-number"><%= @user.phone_number %></span></p>

  <h3>Instructions</h3>

  <section class="section">

    <h4>Sending:</h4>

    <p><span class="reply">@steve</span> hey did you publish that blog post?</p>

  </section>

  <section class="section">

    <h4>Receiving:</h4>

    <p>All DMs are automatically received</p>

  </section>

  <h3>Channels</h3>

  <section class="section">

    <h4>Send message to channel:</h4>

    <p><span class="channel">#team</span> morning all!</p>

    <p>Sending to a channel auto subscribes for 10 minutes</p>

  </section>

</div>
